.btn:hover+.panel,
.panel:hover {
  visibility: visible
}

.panel {
  visibility: hidden;
  width     : 100px;
  height    : 200px;
  background: #DDD;
  transition: visibility .2s;
}


.panel-item {
  width      : 100%;
  height     : 50px;
  list-style : none;
  line-height: 50px;
}